@model IList<WestCoastEducation.web.ViewModels.CourseListViewModel>

@{
    ViewBag.Pagetitle = "Courses";
}

<section>
    <div>
        <h1>Kurslista</h1>
        <p>Detta ser inte snyggt ut.......</p>
        <ul>
            @foreach (var course in Model)
            {
                <p><a asp-action="details" asp-route-courseId="@course.Id">
                        @course.CourseTitle - @course.CourseNumber
                </a></p>
            }
        </ul>
    </div>
</section>
