@model IList<WestCoastEducation.web.ViewModels.PersonViewModel>

@{
    ViewBag.Pagetitle = "Students";
}

<section>
    <div>
        <h1>Studenter</h1>
        <p>Detta ser inte snyggt ut.......</p>   
        <ul>
            @foreach (var student in Model)
            {
                <p><a asp-action="details" asp-route-studentId="@student.Id">
                        @student.FirstName - @student.LastName
                </a></p>
            }
        </ul>
    </div>
</section>
