@model IList<WestCoastEducation.web.ViewModels.TeacherListViewModel>

@{
    ViewBag.Pagetitle = "Teachers";
}

<section class="main-content">
    <div class="main-content-row-1">   
        <img src="~/Media/school.png" alt="School" height="800" width="800" />
    </div>
    <div class="main-content-row-2">
        <h1>Lärare</h1>               
        <p>
            @foreach (var teacher in Model)
            {
                    <p><a asp-action="details" asp-route-teacherId="@teacher.Id">
                        @teacher.FirstName - @teacher.LastName
                    </a></p>
            }
        </p>
    </div>
</section>
